/** Add css rules here for your application. */
.GWTUpld .gwt-Button, .GWTUpld .gwt-FileUpload {
font-size: 15px;
min-height: 15px;
color: brown;
}

/** Example rules used by the template application (remove for your app) */
body {
	background-color: black !important;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 40px;
  text-align: center;
}



